.products_loader {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;

    & input[type='checkbox'] {
        display: none;
    }

    &:has(input[type='checkbox']:checked) {
        & svg {
            fill: #91B7BA;
        }
    }

    & svg {
        transition: all 0.3s linear;
        stroke: #91B7BA;
        width: 14px;
        height: 14px;
    }

    & span {
        font-weight: 500;
        font-size: 13px;
        line-height: 185%;
        color: #212529;
    }
}

.products {

    & .project_title {
        padding-bottom: 0;
    }

    & .flex-row:first-of-type {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        // margin-top: 35px;
    }

    &.company_center {
        max-height: 100vh;
        overflow-y: auto;
        padding-bottom: 0;
        scrollbar-width: none;


        &::-webkit-scrollbar {
            display: none;
        }

    }

    & .company_form_submit {
        position: sticky;
        bottom: 0;
        margin-left: -60px;
        margin-right: -60px;
        z-index: 1;
    }
    & .company_form form{
        display: flex;
        flex-direction: column;
    }
    & .company_form, & form{
        height: 100%;
    }

}

.grow_content{
    flex-grow: 1;
}

.project_list {
    border: 1px solid #91b7ba;
    border-radius: 14px;
    padding: 17px 0px;

    & .flex-wrapper {
        display: flex;
        align-items: center;
        gap: 7px;

        &>span {
            font-weight: 600;
            font-size: 15px;
            line-height: 160%;
            color: #212529;

            @media (max-width: 1400px){
                font-size: calc(15 / 14.4 * 1vw);
            }
        }
    }
}

.company_button_submit.--products {
    display: block;
    max-width: max-content;
    margin: 40px 0;
}

.project_list,
.nested-list {
    list-style-type: none;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;

    & li {
        display: flex;
        flex-direction: column;
        gap: 15px;

        & span {
            white-space: nowrap;
        }

        &:has(ul) {
            &>.flex-wrapper>.product_list_toggle {
                visibility: visible;
            }
        }
    }
}

.nested-list {
    display: none;
    margin-left: 20px;
}

.nested-list.active {
    display: block;
}

.product_list_check,
.product_list_toggle {
    width: 14px;
    height: 14px;
    display: block;
}

.product_list_check {
    cursor: pointer;

    & input[type="checkbox"] {
        display: none;
    }

    &:has(input[type="checkbox"]:checked) span {
        background-image: url('data:image/svg+xml,%3Csvg%20width=%2214%22%20height=%2214%22%20viewBox=%220%200%2014%2014%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%20%20%3Crect%20x=%221%22%20y=%221%22%20width=%2212%22%20height=%2212%22%20rx=%221.5%22%20fill=%22#91B7BA%22%20stroke=%22#91B7BA%22%20stroke-width=%222%22%20/%3E%20%20%20%3Cpath%20d=%22M3.5%207L6%209.5%22%20stroke=%22white%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20/%3E%20%20%20%3Cpath%20d=%22M11.0001%204.5L6.00012%209.5%22%20stroke=%22white%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20/%3E%20%3C/svg%3E');
    }

    & span {
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
        background-image: url('data:image/svg+xml,%3Csvg%20width=%2214%22%20height=%2214%22%20viewBox=%220%200%2014%2014%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%20%20%3Crect%20x=%221%22%20y=%221%22%20width=%2212%22%20height=%2212%22%20rx=%221.5%22%20stroke=%22#91B7BA%22%20stroke-width=%222%22%20/%3E%20%3C/svg%3E');
    }
}

.product_list_toggle {
    cursor: pointer;
    visibility: hidden;

    & span {
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
        background-image: url('data:image/svg+xml,%3Csvg%20width=%2214%22%20height=%2214%22%20viewBox=%220%200%2014%2014%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%20%20%3Crect%20x=%221%22%20y=%221%22%20width=%2212%22%20height=%2212%22%20rx=%221.5%22%20fill=%22#91B7BA%22%20stroke=%22#91B7BA%22%20stroke-width=%222%22%20/%3E%20%20%20%3Cpath%20d=%22M7%203V11%22%20stroke=%22white%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20/%3E%20%20%20%3Cpath%20d=%22M11%207L3%207%22%20stroke=%22white%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20/%3E%20%3C/svg%3E');
    }

    &.active span {
        background-image: url('data:image/svg+xml,%3Csvg%20width=%2214%22%20height=%2214%22%20viewBox=%220%200%2014%2014%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%20%20%3Crect%20x=%221%22%20y=%221%22%20width=%2212%22%20height=%2212%22%20rx=%221.5%22%20fill=%22#91B7BA%22%20stroke=%22#91B7BA%22%20stroke-width=%222%22%20/%3E%20%20%20%3Cpath%20d=%22M11%207L3%207%22%20stroke=%22white%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20/%3E%20%3C/svg%3E');
    }
}

.product_fields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 7px;
    column-gap: 30px;
}

.product_fields_label {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    gap: 7px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #212529;

    & input[type="checkbox"] {
        display: none;
    }

    &:has(input[type="checkbox"]:checked) span {
        background: #91b7ba;

    }

    & span {
        display: block;
        flex-shrink: 0;
        border: 2px solid #91b7ba;
        border-radius: 2px;
        width: 14px;
        height: 14px;
        transition: all 0.3s linear;
    }
}

.table_wrapper {
    overflow: hidden;
    display: flex;
    overflow-x: auto;

}

.product_table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #91b7ba;
    border-radius: 4px;
    overflow: hidden;

    & tr th:first-child,
    & tr th:nth-child(4),
    & tr td:first-child,
    & tr td:nth-child(4) {
        min-width: 250px;
    }

    & th {
        font-weight: 500;
        font-size: 13px;
        line-height: 131%;
        color: #222;
    }

    & th,
    & td {
        padding: 8px;
        border: 1px solid #91b7ba;
    }

    & td {
        font-weight: 400;
        font-size: 13px;
        line-height: 131%;
        color: #222;
    }
}

@media (max-width: 1400px) {
    .products_loader {
        gap: calc(7 / 14.4 * 1vw);
    }

    .products .flex-row:first-of-type {
        gap: calc(10 / 14.4 * 1vw);
        margin-top: calc(35 / 14.4 * 1vw);
    }

    .products.company_center {
        max-height: 100vh;
    }

    .company_form_submit {
        margin-left: calc(-60 / 14.4 * 1vw);
        margin-right: calc(-60 / 14.4 * 1vw);
    }

    .project_list {
        border-radius: calc(14 / 14.4 * 1vw);
        padding: calc(17 / 14.4 * 1vw) 0;
    }

    .project_list,
    .nested-list {
        padding-left: calc(20 / 14.4 * 1vw);
        gap: calc(15 / 14.4 * 1vw);
    }

    .nested-list {
        margin-left: calc(20 / 14.4 * 1vw);
    }

    .product_list_check,
    .product_list_toggle {
        width: calc(14 / 14.4 * 1vw);
        height: calc(14 / 14.4 * 1vw);
    }

    .product_fields {
        gap: calc(7 / 14.4 * 1vw);
        column-gap: calc(30 / 14.4 * 1vw);
    }

    .product_fields_label {
        gap: calc(7 / 14.4 * 1vw);
        font-size: calc(13 / 14.4 * 1vw);
    }

    .product_fields_label span {
        border-radius: calc(2 / 14.4 * 1vw);
        width: calc(14 / 14.4 * 1vw);
        height: calc(14 / 14.4 * 1vw);
    }

    .table_wrapper {
        overflow-x: auto;
    }

    .product_table tr th:first-child,
    .product_table tr th:nth-child(4),
    .product_table tr td:first-child,
    .product_table tr td:nth-child(4) {
        min-width: calc(250 / 14.4 * 1vw);
    }

    .product_table th,
    .product_table td {
        padding: calc(8 / 14.4 * 1vw);
        font-size: calc(13 / 14.4 * 1vw);
    }
}